.app_wrapper-info h1{
  font-family: var(--font-base);
  color: var(--color-white);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 100px;
}


.app_wrapper-img img {
    float: left;
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    animation: img 3.7s linear infinite;
  }

  @keyframes img {
    0%, 100% {
      border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33% {
      border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
      border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
  }

  @media screen and (max-width: 650px){
    .app_header {
    	padding-bottom: 7rem;
    	overflow-x: hidden;
    }

    .app_wrapper-info {
    	text-align: center;
    }
    
    .app_wrapper-info h1{
      margin-top: 4rem;
      font-size: 60px;
      line-height: 80px;
    }

    .app_wrapper-info p{
      font-size: 14px;
    }
    
    .app_wrapper-info button{
      margin-left: 70px;
    }
 
    .app_wrapper-img img {
      display: none;
    }
}

