.market-section{
    min-height: 100vh;
    background-color: #fff;
    border: 1px solid black;   
}

.Heading p, h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
}
    
.Heading h1{
    font-size:30px;
    padding:1.5rem;
    margin-top: 30px;
    color: #DE0F59;
}.Heading p{
    font-size:19px;
    line-height: 30px;
    text-align: center;
    color: #494747;
}
.card-container{
    height: 420px;
    margin: 30px 60px;
    display: flex;
}
.cards{
    height: 380px;
    width: 240px;
    background-color: #D9D9D9;
    margin: 25px;
}
.card-image{
    height: 140px;
    overflow: hidden;
}
.Genre{
   height: 200px;
   width: 150px;
   background-color: black;
   position: relative;
   left: 45px;
   top: -90px;
}
.Genre h2{
    color: #fff;
   text-align: center;
   padding-top: 50px;
}
.card-section{
    display: flex;
    position:relative;
    top: -60px;
    left: 90px;
}
button{
    position:relative;
    left: 65px;
    top: -50px;
    padding: 9px;
    color: #fff;
    width: 100px;
    background-color: #000;
}

span{
    padding-left: 20px;
}
