@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgb(248, 231, 233);
  }

/* GLOBAL STYLE */
.required {
  color: rgb(255, 0, 140);
}


/* FORM CONTAINER STYLE */
.formContainer {
  padding: 25px 30px;
  max-width: 700px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.096);
  border-radius: 10px;
}

 /* BIO FORM STYLE */

/* SKILLS CONTAINER STYLE */
.skills-container {
  padding: 10px 5px;
}
/* QRAFT LOGO */
img{
  margin-left: 460px;
  height: 60px;
}

.skills-container input {
  display: block;
  width: 80%;
  padding: 0.75em;
  border: 1px solid black;
  border-radius: 0.25em;
  margin-bottom: 18px;
  padding: 10px 5px;
}

.skills-container label{ 
  height: 27px;
  line-height: 27px;
  top: 604px;
  font-weight: 500;
}

/* BIO INFORMATION STYLE*/
.bioInfo-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.input_field{
  margin-bottom: 8px;
  width: calc(100% / 2 - 20px);
}

.input_field .input{
  height: 45px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 13px;
}

.input_field .details{
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.gender_info .gender_title{
  font-weight: 500;
}

.gender_info .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.category .gender {
  margin-right: 10px;
}

.gender_info .category label{
  display: flex;
  align-items: center;
}

.gender_info .category .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two {
  border-color: #d9d9d9;
  background: #000;
}

input[type='radio'] {
  display: none;
}


/* PROGRESS BAR STYLE*/
.progress-bar {
  width: 630px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 1em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.progress-bar div {
  width: 500%;
  height: 100%;
  border-radius: 1em;
  background-color: rgb(255, 0, 140);
}

/* FOOTER STYLE */
.footer {
  border-radius: 0.25em;
  width: 300px;
  height: 50px;
  background-color:#DE0F59;
  font-size: 1.1em;
  font-weight: 500;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 584px) {
  .formContainer{
    max-width: 100%;
  } 
  .input_field{
    margin-bottom: 15px;
    width: 100%;
  }
  .gender_info .category {
    width: 100%;
  }
  .bioInfo-container{
    max-height: 300px;
    overflow-y: scroll;
  }
  .bioInfo-container::-webkit-scrollbar{
    width: 0%;
  }

}